Jinja2==2.9.6
jsonpatch==1.10
jsonpointer==1.9
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
lxml==3.5.0
matplotlib==2.0.2
nbconvert==5.2.1
nbformat==4.3.0
notebook==5.0.0
numpy==1.13.1
Pillow==4.2.1
protobuf==3.3.0
scikit-image==0.13.0
scipy==0.19.1
tensorflow-gpu==1.2.1
Werkzeug==0.12.2
